<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Virtual Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link href="~/font-awesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-4">
                        <a asp-action="Index" asp-controller="Catalog" class="brand-wrap">
                            <img style="height: 40px; width: 40px" alt="Virtual Store" src="~/images/logo.jpg">
                        </a>
                    </div>

                    <div class="col-lg-9 col-sm-7 col-8 order-2 order-lg-3">
                        <div class="d-flex justify-content-end">
                            <div style="padding-right: 15px">
                                <a href="#" class="widget-header">
                                    <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                                    <span class="badge badge-pill badge-danger notify">0</span>
                                </a>
                            </div>
                            <div>
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - Virtual Store
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
