@using VS.WebApp.MVC.Extensions;
@inject IUser AppUser;

@if (AppUser.IsAuthenticated())
{
    <div class="dropdown d-inline-block">
        <div class="dropdown-menu dropdown-menu-left" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 12px; left: 91px; transform: translate3d(150px, 32px, 0px);">
            <a class="dropdown-item" asp-controller="Identity" asp-action="Logout">Logout</a>
        </div>
    </div>
}
else
{
    <div class="widget-header">
        <small class="title text-muted">Welcome!</small>
        <div>
            <a asp-controller="Identity" asp-action="Register">Create your account</a> <span> | </span>
            <a asp-controller="Identity" asp-action="Login"> Login</a>
        </div>
    </div>
}

