@using VS.WebApp.MVC.Extensions;
@inject IUser appuser;

<ul class="navbar-nav">
    @if (appuser.IsAuthenticated())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @appuser.GetUserEmail()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identity" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item" style="padding-right: 30px;">
            <a class="btn btn-success" asp-controller="Identity" asp-action="Register">Create your account</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Identity" asp-action="Login">Login</a>
        </li>
    }
</ul>
